<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <center>
          <h1>PAGE1</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, ad consequuntur facilis ea aliquam sit voluptatem vero dignissimos tenetur corrupti culpa unde aperiam similique ullam eius pariatur blanditiis laborum accusantium?</p>
          <h2><a href="{% url 'page2' %}">page2</a></h2>
     </center>
</body>
</html>